body { 
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
  background-image: url(../images/full-bloom.png)
  
  
    
    
}
h1 {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(163, 163, 163)
}

img {
  padding: 5px;
}

.whiteCol {
  background-color: white;
  border: thin solid rgb(163, 163, 163);
  margin-left: 10vw;
  margin-top: 10vh;
  margin-right: 10vw;
  padding: 12px;
  

}


.mePic {
  float: left;
}
  
 .navbar-brand {
  
  color: white;
  background-color: rgb(159, 96, 96);
  padding: 15px;                
  margin-bottom: -8px;
  margin-top: -7px;
  font-size: 23px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  letter-spacing: 1px;
 }


   
 .text-bar { 
    
  position: absolute;
background-color: rgb(159, 96, 96);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
   
  }

   
  .form-group {
    color: rgb(159, 96, 96);
  }

 /* I floated my picture to the left so that it can meet my text in the middle*/

  
footer {
    
    text-align: center;
    background-color: rgb(159, 96, 96);
    
      padding: 30px;
      clear: both;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
      font-size: 16px;
      color: #cccccc;
      border-top: solid rgb(163, 163, 163) 6px;
      bottom: 0;
  }
}





@media (max-width: 765px) {
 

 }

 



